<div class="container" style="padding-top: 5em;font-size: 1.7em !important;color:rgba(0, 0, 0, 0.54);font-weight: bold;">
		<div class="row">
			<div class="col-md-3">Product</div>
			<div class="col-md-3">Price</div>
			<div class="col-md-3">Duration</div>
			<div class="col-md-3">Cost</div>
		</div>
		
	</div>
	
	<div class="container" style="padding-top:2em;">
		<div class="row" style="background: #ffffff;">
			<div class="col-md-3"><img style="height: 15%;width: 50%;" src="{{selected.bikeimage}}" data-imagezoom="true" class="img-responsive" alt=""/></div>
			<div class="col-md-3" style="padding-top: 2em;font-size: 120%;color: rgb(0,0,1);">RS.{{priceshow}}/hr</div>
			<div class="col-md-3" style="padding-top: 2em;font-size: 120%;color: rgb(0,0,1);">{{totalhr}}hr</div>
			<div class="col-md-3" style="padding-top: 2em;font-size: 120%;color: rgb(0,0,1);">Rs.{{totalcost}}</div>
		</div>
		
	</div>
  <div style="padding-top: 20px; padding-left:53em;">
							<div  class="price-book-cart" style="width: 35%;color:rgb(0,0,1);" ng-click="showAdvanced($event)">CONTINUE</div></div>
	<div style="padding-top: 15em;" ></div>
  
<alert type="danger" close="closeAlert()" ng-if="show" 
       dismiss-on-timeout="2000">Sosfjdjfhjsdhjfhjdshfjhj</alert>

 
