
<div class="slide story" id="slide-1" data-slide="1" style="">
		<div class="container">
			<div id="home-row-1" class="row clearfix">
				<div class="col-12">
					<h1 class="font-semibold">FLYBAXI <span class="font-thin">DESIGN</span></h1>
					<h4 class="font-thin">We are an <span class="font-semibold">independent interactive agency</span> based in Jaipur</h4>
					<br>
					<br>
				</div><!-- /col-12 -->
			</div><!-- /row -->
			<div id="home-row-2" class="row clearfix">
				<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><img src={% static 'images/s02.png' %}></div><span>PLAN</span></div>
				<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><img src={% static 'images/s02.png' %}></div><span>PICK</span></div>
				<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="5"><img src={% static 'images/s03.png' %}></div><span>RIDE</span></div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide1 -->
	
	<!-- === Slide 2 === -->
	<div class="slide story" id="slide-2" data-slide="2">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-thin">


 <span class="font-semibold">Your four step journey to an awesome ride!</span></div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-12 font-thin">This is what <span class="font-semibold">we do best</span></div>
			</div><!-- /row -->
			<div class="row content-row">
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-eye-open"></i></p>
					<h2 class="font-thin">Freeee <span class="font-semibold">Booking</span></h2>
					<h4 class="font-thin">Book a vehicle in less than a minute .</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-laptop"></i></p>
					<h2 class="font-thin">Assured <span class="font-semibold">Quality</span></h2>
					<h4 class="font-thin">All our vehiles are new and go through strictest service schedule. </h4>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-tablet"></i></p>
					<h2 class="font-thin">Lowest <span class="font-semibold">Price</span></h2>
					<h4 class="font-thin">Hire a motorcycle lower than our quoted price and get a ride with us for free.</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon">
					<img style="width:80px;height:80px; " src= {% static 'images/racing.svg' %}/>
					</i>  </p>
					<h2 class="font-thin">Free <span class="font-semibold">Helmet</span></h2>
					<h4 class="font-thin">Safety comes first for FlyBaxi. We provide complimentary helmets for each ride.</h4>
				</div><!-- /col12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide2 -->


