<html>
<head><title>UploadImage</title>
</head>

<body>
    <form action="{% url 'login:submitimage' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        BikeId:<input type="text" name="bikeid" size="20"><br/>
        BikeName<input type="text" name="bikename" size="20"><br />
        Image<input type="file" name="bikeimage" accept="image/* value="fileupload"><br />
        rentbelow12<input type="text" name="rentbelow12" size="20"><br />
        rentbelow15hrs<input type="text" name="rentbelow15" size="20"><br />
        rent more than 15 hr<input type="text" name="rentmorethan15" size="20"><br />
        
        <input type="submit" value="submit" />
    </form>
</body>
</html>
